<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ecommerce</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="shortcut icon" href="javascript/img/favicon.png"> -->
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/css/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/css/slick.css" />
    <link rel="stylesheet" href="/stylesheets/css/slick-theme.css" />
    <link rel="stylesheet" href="/stylesheets/css/jquery.datetimepicker.css" />
    <link rel="stylesheet" href="/stylesheets/css/easy-responsive-tabs.css" />
    <link
      rel="stylesheet"
      href="/stylesheets/css/jquery.mCustomScrollbar.css"
    />
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
    <link rel="stylesheet" href="/stylesheets/cartbutton.css" />
    <script src="/javascript/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/javascript/js/vendor/respond.js"></script>
  </head>
  <body>
    <div class="px-4 px-lg-0">
      <header class="container-fluid no-padding nav-container desktop-header">
        <div class="first-band">
          <div class="custome-container">
            <div class="become-dealer">
              <i
                style="color: black;"
                class="fa fa-phone-square"
                aria-hidden="true"
                > 9810-999-999</i
              >
            </div>
          </div>
        </div>
        <div>
          <div>
            <div class="row">
              <div class="col-md-3 col-sm-4">
                <div class="logo">
                  <a href="/"
                    ><img src="/stylesheets/ecommerce-logo.jpg" alt="logo"
                  /></a>
                </div>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="about-wrapper">
          <div class="custome-container">
            <div class="main">
              <h1>Shopping cart</h1>
              <h2 class="sub-heading">Free shipping from Rs 5000!</h2>

              <section class="shopping-cart">
                <ol
                  class="ui-list shopping-cart--list"
                  id="shopping-cart--list"
                >
                  <% for(var i=0; i < products.length; i++) { %>

                  <li class="_grid shopping-cart--list-item">
                    <div class="_column product-image">
                      <img
                        class="product-image--img"
                        src="/<%= products[i].image %>"
                        alt="Item image"
                      />
                    </div>
                    <div class="_column product-info">
                      <h4 class="product-name"><%= products[i].name %></h4>
                      <!-- <p class="product-desc">{{=desc}}</p> -->
                      <div class="price product-single-price">
                        Rs. <%= products[i].price %>
                      </div>
                    </div>
                    <div
                      class="_column product-modifiers"
                      data-product-price="{{=price}}"
                    >
                      <div class="_grid">
                        <a
                          href="/products/<%= products[i]._id %>/remove-from-cart"
                        >
                          <button class="_btn _column product-subtract">
                            &minus;
                          </button></a
                        >
                        <div class="_column product-qty"><%= qty[i+1] %></div>
                        <a href="/products/<%= products[i]._id %>/add-to-cart">
                          <button class="_btn _column product-plus">
                            &plus;
                          </button>
                        </a>
                      </div>
                      <a
                        href="/products/<%= products[i]._id %>/removed-from-cart"
                      >
                        <button class="_btn entypo-trash product-remove">
                          Remove
                        </button>
                      </a>
                      <div class="price product-total-price">
                        Rs. <%= products[i].price * qty[i+1] %>
                      </div>
                    </div>
                  </li>
                  <% } %>
                </ol>

                <footer class="_grid cart-totals">
                  <div class="_column subtotal" id="subtotalCtr">
                    <div class="cart-totals-key">Subtotal</div>
                    <div class="cart-totals-value">Rs <%= subtotal %></div>
                  </div>
                  <div class="_column shipping" id="shippingCtr">
                    <div class="cart-totals-key">Shipping</div>
                    <div class="cart-totals-value">Rs <%= shipping %></div>
                  </div>
                  <div class="_column taxes" id="taxesCtr">
                    <div class="cart-totals-key">Taxes (18%)</div>
                    <div class="cart-totals-value">Rs <%= tax %></div>
                  </div>
                  <div class="_column total" id="totalCtr">
                    <div class="cart-totals-key">Total</div>
                    <div class="cart-totals-value">Rs <%= total %></div>
                  </div>

                    <form action="/orders" method="POST">
                    <div class="_column checkout">
                      <input
                        type="text"
                        value="<%= total %>"
                        name="total"
                        hidden
                      />
                      <button class="checkout-align">Place Order</button>
                    </div>
                    </form>
                  
                </footer>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

    


    <script src="/javascript/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/javascript/js/plugins.js"></script>
    <script src="/javascript/js/jquery.datetimepicker.full.min.js"></script>
    <script src="/javascript/js/main.js"></script>
    <script src="/javascript/cartbutton.js"></script>
  </body>
</html>
