<html>
  <head>
    <title>Ecommerce</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/editProduct.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Ecommerce</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/products/add"
                  >Add Product <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/products/view"
                  >View Products <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/users/view"
                  >View Users <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/orders/view"
                  >View Orders <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/reviews/view"
                  >View Comments <span class="sr-only">(current)</span></a
                >
              </li>
            </ul>
              <button class="btn btn btn-outline-warning my-2 my-sm-0" type="submit">
                Logout
              </button>
            </form>
          </div>
          </nav>

    <img class="image-preview" src="/<%=product.image%>" />
    <br />
    <br />

    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
      <div class="form-group row">
        <label class="col-sm-1 col-form-label ">Product Id</label>
        <div class="col-sm-3">
          <input
            type="text"
            class="form-control"
            placeholder="Product Id"
            name="pid"
            value="<%=product.pid%>"
            required
            disabled
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Name</label>
        <div class="col-sm-3">
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            name="name"
            value="<%=product.name%>"
            required
          />
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-1 col-form-label">Model</label>
          <div class="col-sm-3">
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              name="model"
              value="<%=product.modelNo%>"
              required
            />
          </div>
        </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Brand</label>
        <div class="col-sm-3">
          <input
            type="text"
            class="form-control"
            placeholder="Brand"
            name="brand"
            value="<%=product.brand%>"
            required
            disabled
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Category</label>
        <div class="col-sm-3">
          <input
            type="text"
            class="form-control"
            placeholder="Brand"
            name="brand"
            value="<%=product.category%>"
            required
            disabled
          />
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-1 col-form-label">Description</label>
          <div class="col-sm-3">
            <textarea
              class="form-control"
              name="description"
              required
              rows="3"
            ><%=product.description%></textarea>
          </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Price</label>
        <div class="col-sm-3">
          <input
            type="number"
            class="form-control"
            placeholder="Price"
            name="price"
            value="<%=product.price%>"
            required
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Update Product</button>
        </div>
      </div>
    </form>

    <script src="/javascript/editProduct.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>