      <%- include('partials/header') %>
      <div class="main-content">
        <div class="about-wrapper">
          <div class="custome-container">
            <div class="">
              <div>
                <hr />
              </div>
              <div class="about-wrapper">
                <div class="custome-container">
                  <div class="listingWrapper">
                    <div class="listingrightWrap">
                      <h1 class="listingHead">
                        <%= product.brand %> <%= product.name %>
                      </h1>
                      <br />
                      <div class="tagCloud">
                        <div class="tagcloudHead">Rs <%= product.price %></div>
                        <div class="expertButton">
                          <a href="/products/<%= product._id %>/add-to-cart">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="listingDetail">
                      <div class="detailImg">
                        <img
                          style="width: auto;height: 450px"
                          src="/<%=product.image%>"
                          alt=""
                        />
                      </div>

                      <p class="listingContant"><%= product.description %></p>
                      <div class="commentWrap">
                        <div class="commentHead">Reviews</div>
                        <% if(product.reviewList.length==0){%>
                        <p>Be the first one to review this product.</p>
                        <%}%> <% product.reviewList.forEach(function(review){ %>
                        <div class="commentRow">
                          <div class="commentText">
                            <div class="commentName">Nikhil Arora</div>
                            <div class="commentDate">
                              <%= review.postedOn.toLocaleDateString() %>
                            </div>
                            <div class="commentContant">
                              <%= review.comment%>
                            </div>
                          </div>
                        </div>
                        <% }) %>
                      </div>

                      <div class="addcommentWrap">
                        <div class="addcommentHead">Add comment</div>
                        <form
                          action="/products/<%= product._id %>/reviews"
                          method="POST"
                        >
                          <div class="commentForm">
                            <div class="commentInput">
                              <label class="comment-sec-form-filed"
                                ><input
                                  type="text"
                                  placeholder="Title..."
                                  name="title"
                              /></label>
                            </div>
                            <div class="commentTextarea">
                              <label class="comment-sec-form-filed"
                                ><textarea
                                  placeholder="Comment..."
                                  name="comment"
                                ></textarea
                              ></label>
                            </div>
                          </div>
                          <button class="buttonWrap btn btn-success">
                            Submit
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <%- include('partials/footer') %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
