<html>
  <head>
    <title>Ecommerce</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/viewProducts.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <table>
      <%if(products.length>0) { %>
      <tr>
        <th>Product Id</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th>Likes</th>
        <th>Purchases</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <%}%> <% products.forEach(function(product){ %>
      <tr>
        <td><%=product.pid%></td>
        <td><%=product.name%></td>
        <td><%=product.brand%></td>
        <td><%=product.category%></td>
        <td><%=product.price%></td>
        <td><%=product.likes%></td>
        <td><%=product.qtySold%></td>
        <td><img src="/<%=product.image%>" /></td>
        <td>
          <a class="btn btn-success" href="/products/<%= product._id %>/edit"
            >Edit</a
          >
        </td>
        <td>
          <!-- <a class="btn btn-link" href="/products/<%= product._id %>">Delete</a> -->
          <form
            method="POST"
            action="/products/<%= product._id %>?_method=DELETE"
          >
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </td>
      </tr>

      <!-- <button class="btn btn-primary" type="button">Delete Product</button> -->
      <%})%>
    </table>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
