<%- include('partials/header') %>

<div class="downlodWrapper">
  <!-- Add product Start here -->
  <div class="downloadTab">
    <div id="whirlpoolMachine">
      <h4 class="first-margin">Whirlpool</h4>
      <hr style="width: 93%;" />
    </div>
    <ul>
      <% products.forEach(function(product){%> <% if(product.brand ==
      "Whirlpool"||product.brand == "whirlpool"){ %>
      <li>
        <img class="img-machine" src="/<%=product.image%>" alt="" />
        <div class="imgText">
          <div class="imgtextHead">
            <%= product.brand %> <%= product.name %>
          </div>
          <div class="imgtextHead">
            Rs <%= product.price %>
          </div>
          <div class="imgtextRow">
            <div class="rowView">
              <button class="btn btn-default">
                <a href="/products/<%= product._id %>/view"
                  >View <span><i class="fa fa-eye" aria-hidden="true"></i></span
                ></a>
              </button>
            </div>
            <div class="rowDownload">
              <button class="btn btn-default">
                <a href="/products/<%= product._id %>/add-to-cart"
                  >Add to cart
                  <span
                    ><i
                      class="fa fa-shopping-cart"
                      aria-hidden="true"
                    ></i></span
                ></a>
              </button>
            </div>
          </div>
        </div>
      </li>
      <%}%> <%})%>
    </ul>

    <div id="lgMachine">
      <h4 class="rem-margin">LG</h4>
      <hr style="width: 93%;" />
    </div>
    <ul>
      <% products.forEach(function(product){%> <% if(product.brand ==
      "LG"||product.brand == "Lg"){ %>
      <li>
        <img class="img-machine" src="/<%=product.image%>" alt="" />
        <div class="imgText">
          <div class="imgtextHead">
            <%= product.brand %> <%= product.name %>
          </div>
          <div class="imgtextHead">
            Rs <%= product.price %>
          </div>
          <div class="imgtextRow">
            <div class="rowView">
              <button class="btn btn-default">
                <a href="/products/<%= product._id %>/view"
                  >View <span><i class="fa fa-eye" aria-hidden="true"></i></span
                ></a>
              </button>
            </div>
            <div class="rowDownload">
              <button class="btn btn-default">
                <a href="/products/<%= product._id %>/add-to-cart"
                  >Add to cart
                  <span
                    ><i
                      class="fa fa-shopping-cart"
                      aria-hidden="true"
                    ></i></span
                ></a>
              </button>
            </div>
          </div>
        </div>
      </li>
      <%}%> <%})%>
    </ul>

    <div id="samsungMachine">
      <h4 class="rem-margin">Samsung</h4>
      <hr style="width: 93%;" />
    </div>
    <ul>
      <% products.forEach(function(product){%> <% if(product.brand ==
      "Samsung"||product.brand == "samsung"){ %>
      <li>
        <img class="img-machine" src="/<%=product.image%>" alt="" />
        <div class="imgText">
          <div class="imgtextHead">
            <%= product.brand %> <%= product.name %>
          </div>
          <div class="imgtextHead">
            Rs <%= product.price %>
          </div>
          <div class="imgtextRow">
            <div class="rowView">
              <button class="btn btn-default">
                <a href="/products/<%= product._id %>/view"
                  >View <span><i class="fa fa-eye" aria-hidden="true"></i></span
                ></a>
              </button>
            </div>
            <div class="rowDownload">
              <button class="btn btn-default">
                <a href="/products/<%= product._id %>/add-to-cart"
                  >Add to cart
                  <span
                    ><i
                      class="fa fa-shopping-cart"
                      aria-hidden="true"
                    ></i></span
                ></a>
              </button>
            </div>
          </div>
        </div>
      </li>
      <%}%> <%})%>
    </ul>
    <!-- Add product End here -->
  </div>
</div>

<%- include('partials/footer') %>
